<div id="{{id}}" class="anvelA5EAuxWindow app window-app {{classes}}" data-appid="{{appId}}" data-actor-id="{{{actor_id}}}">
    <header class="window-header flexrow">
        <h4 class="window-title">Anvel's A5E Auxiliary Tools</h4>
        <a class="header-button close"><i class="fas fa-times"></i>Close</a>
    </header>
	
	<section class="window-content" style="flex-direction: row;">
		<section id="A5ESectionInfo" class="window-content A5ESectionInfo" style="flex-direction: column; display: block;">
			<label id="A5EInfoName" style="display: block;"> {{{actor_name}}} </label>
			{{#if actor_image}}
			<img id="A5EInfoImage" src="{{{actor_image}}}" alt="" title="" data-edit="img" style="display: block; height: 50px; width: 50px;">
			{{/if}}
		</section>
		<section class="window-content A5ESectionCombat" style="flex-direction: column;">
			<section id="A5ESectionActions" class="window-content A5ESectionActions" style="display: block;">
				<div class="token-actions">
					<label style="margin-right: 10px;"> Actions: </label>
					<div data-action-type="action" class="token-action token-action-main {{{action}}}" {{#unless display_actions}} style="display: none;" {{/unless}}>A:<i class="far fa-circle"></i><i class="fas fa-times"></i></div>
					<div data-action-type="bonus" class="token-action token-action-bonus {{{bonus}}}" {{#unless display_actions}} style="display: none;" {{/unless}}>B:<i class="far fa-circle"></i><i class="fas fa-times"></i></div>
					<div data-action-type="reaction" class="token-action token-action-reaction {{{reaction}}}">R:<i class="far fa-circle"></i><i class="fas fa-times"></i></div>
				</div>
			</section>
			<section id="A5ESectionExhaustion" class="window-content A5ESectionExhaustion">
				<div id="A5EExhaustion" class="A5EExhaustion">
					<label style="margin-right: 10px;"> Fatigue: </label>
					<button type='button' id='decreaseExhaustion' class='exhaustionButton'>-</i></button>
					<label id="A5EExhaustionValue" style="margin: 0px 3px;"> {{{A5EExhaustionValue}}} </label>
					<button type='button' id='increaseExhaustion' class='exhaustionButton'>+</i></button>
				</div>
			</section>
			<section id="A5ESectionStrife" class="window-content A5ESectionStrife">
				<div id="A5EStrife" class="A5EStrife">
					<label style="margin-right: 10px;"> Strife: </label>
					<button type='button' id='decreaseStrife' class='exhaustionButton'>-</i></button>
					<label id="A5EStrifeValue" style="margin: 0px 3px;"> {{{A5EStrifeValue}}} </label>
					<button type='button' id='increaseStrife' class='exhaustionButton'>+</i></button>
				</div>
			</section>
			<section id="A5ESectionExertion" class="window-content A5ESectionExertion">
				<div id="A5EExertion" class="A5EExertion">
					<label style="margin-right: 10px;"> Exertion: </label>
					<input id="A5EExertionCurrent" name="" type="text" value="{{{A5EExertionCurrent}}}" data-dtype="Number" placeholder="0" maxlength="3" style="min-width: 24px; max-width: 24px; height: 15px;"></input>
					<label id="A5EExertionBar" style="margin: 0px 3px;"> / </label>
					<input id="A5EExertionMax" name="" type="text" value="{{{A5EExertionMax}}}" data-dtype="Number" placeholder="0" maxlength="3" style="min-width: 24px; max-width: 24px; height: 15px;"></input>
				</div>
			</section>
			<section id="A5EManeuverDC" class="window-content A5EManeuverDC">
				<div id="A5EManeuverDCValue" class="A5EManeuverDCValue">
					<label style="margin-right: 10px;"> Maneuver DC: {{{maneuverDC}}} </label>
				</div>
			</section>
		</section>
	</section>	
	
	<section id="A5ESectionexpertiseHeader" class="window-content A5ESectionexpertiseHeader" style="display: none;">
		<label> Expertise Dice </label>
	</section>

    <section id="expertiseWindow" class="window-content expertiseWindow" style="display: none;">
		<button type='button' id='expertiseD4' class='expertiseDiceButton' data-size='4' title='d4'>D4</i></button>
		<button type='button' id='expertiseD6' class='expertiseDiceButton' data-size='6' title='d6'>D6</i></button>
		<button type='button' id='expertiseD8' class='expertiseDiceButton' data-size='8' title='d8'>D8</i></button>
		<button type='button' id='expertiseD10' class='expertiseDiceButton' data-size='10' title='d10'>D10</i></button>
		<button type='button' id='expertiseD12' class='expertiseDiceButton' data-size='12'title='d12'>D12</i></button>
		<button type='button' id='expertiseD12' class='expertiseDiceButton' data-size='20'title='d12'>D20</i></button>
		<button type='button' id='expertiseD12' class='expertiseDiceButton' data-size='100'title='d12'>D00</i></button>
	</section>
</div>