<div class="token-actions">
    <div data-action-type="action" class="token-action token-action-main available" {{#unless display_actions}} style="display: none;" {{/unless}}>A:<i class="far fa-circle"></i><i class="fas fa-times"></i></div>
    <div data-action-type="bonus" class="token-action token-action-bonus available" {{#unless display_actions}} style="display: none;" {{/unless}}>B:<i class="far fa-circle"></i><i class="fas fa-times"></i></div>
    <div data-action-type="reaction" class="token-action token-action-reaction available">R:<i class="far fa-circle"></i><i class="fas fa-times"></i></div>
</div>