<div class="br5e-roll-label expertise-header">Expertise Dice</div>
<div class="dice-row red-rolls expertise">
			
<h4 class="expertiseD4 dice-total dice-row-item red-base-die " style="
    background-image: url(../icons/svg/d4-grey.svg);
">4
			</h4>
<h4 class="expertiseD6 dice-total dice-row-item red-base-die " style="
    background-image: url(../icons/svg/d6-grey.svg);
">6</h4>
<h4 class="expertiseD8 dice-total dice-row-item red-base-die " style="
    background-image: url(../icons/svg/d8-grey.svg);
">8</h4>
<h4 class="expertiseD10 dice-total dice-row-item red-base-die " style="
    background-image: url(../icons/svg/d10-grey.svg);
">10</h4><h4 class="expertiseD12 dice-total dice-row-item red-base-die " style="
    background-image: url(../icons/svg/d12-grey.svg);
">12</h4>
			
		</div>