<div class="portrait-temp portrait-exert">
	<label class="exertion-title" style="display: none;"> Exertion: </label>
	<input name="data.attributes.exertion" type="text" class="exertion" placeholder="Ex." title="Exert" value="{{{current}}}" data-dtype="Number" maxlength="3">
	<label class="exertion-separator"> / </label>
	<input name="data.attributes.maxexertion" type="text" class="max-exertion" placeholder="Max Ex." title="Max Exert" value="{{{max}}}" data-dtype="Number" maxlength="3">
</div>