<li>
	<ul class="actor-size-select">
		<li><span class="size-label" data-size="{{data.traits.size}}">{{lookup config.actorSizes data.traits.size}}</span>
			<ul class="size-list" data-target="data.traits.size" data-actor="{{actor._id}}">
				{{#each config.actorSizes as |label size|}}
					<li data-size="{{size}}">{{label}}</li>
				{{/each}}
			</ul>
		</li>
	</ul>
	<span {{#if owner}}contenteditable="true"{{/if}} id="{{actor._id}}-race" spellcheck="false" data-actor="{{actor._id}}" data-target="{{actor._id}}-race" data-placeholder="Heritage">{{data.details.race}}</span>
	<span {{#if owner}}contenteditable="true"{{/if}} id="{{actor._id}}-culture" spellcheck="false" data-actor="{{actor._id}}" data-target="{{actor._id}}-culture" data-placeholder="Culture">{{data.details.culture}}</span>
	<span {{#if owner}}contenteditable="true"{{/if}} id="{{actor._id}}-background" spellcheck="false" data-actor="{{actor._id}}" data-target="{{actor._id}}-background" data-placeholder="{{ localize 'DND5E.Background' }}">{{data.details.background}}</span>
	<span {{#if owner}}contenteditable="true"{{/if}} id="{{actor._id}}-destiny" spellcheck="false" data-actor="{{actor._id}}" data-target="{{actor._id}}-destiny" data-placeholder="Destiny">{{data.details.destiny}}</span>
	<span {{#if owner}}contenteditable="true"{{/if}} id="{{actor._id}}-alignment" spellcheck="false" data-actor="{{actor._id}}" data-target="{{actor._id}}-alignment" data-placeholder="{{ localize 'DND5E.Alignment' }}">{{data.details.alignment}}</span>
	<input type="hidden" data-input="{{actor._id}}-race" name="data.details.race" value="{{data.details.race}}" placeholder="Heritage">
	<input type="hidden" data-input="{{actor._id}}-culture" name="data.details.culture" value="{{data.details.culture}}" placeholder="Culture">
	<input type="hidden" data-input="{{actor._id}}-background" name="data.details.background" value="{{data.details.background}}" placeholder="{{ localize 'DND5E.Background' }}">
	<input type="hidden" data-input="{{actor._id}}-destiny" name="data.details.destiny" value="{{data.details.destiny}}" placeholder="Destiny">
	<input type="hidden" data-input="{{actor._id}}-alignment" name="data.details.alignment" value="{{data.details.alignment}}" placeholder="{{ localize 'DND5E.Alignment' }}">
</li>
<li class="proficiency">
	{{ localize 'DND5E.Proficiency' }}: {{numberFormat data.attributes.prof decimals=0 sign=true}}
</li>