<h4 class="exhaustion-info-header">Fatigue Lvl. {{{current}}}</h4>
<p class="lvl-0"> No negative effects </p>
<p class="lvl-1 lvl-2 lvl-3 lvl-4 lvl-5 lvl-6 lvl-7"> Cannot Sprint </p>
<p class="lvl-2 lvl-3 lvl-4 lvl-5 lvl-6 lvl-7"> Disadvantage on Strength, Dexterity, and Constitution checks </p>
<p class="lvl-3 lvl-4 lvl-5 lvl-6 lvl-7"> Speed halved and unable to maintain a fast travel pace </p>
<p class="lvl-4 lvl-5 lvl-6 lvl-7"> Disadvantage on attack rolls and saving throws using Strength, Dexterity, or Constitution, and unable to maintain a normal travel pace </p>
<p class="lvl-5 lvl-6 lvl-7"> Hit Dice halved </p>
<p class="lvl-6 lvl-7"> Speed reduced to 5 ft. and unable to maintain a slow travel pace </p>
<p class="lvl-7"> Doomed </p>