<h4 class="strife-info-header">Strife Lvl. {{{current}}}</h4>
<p class="lvl-0"> No negative effects </p>
<p class="lvl-1 lvl-2 lvl-3 lvl-4 lvl-5 lvl-6 lvl-7"> Disadvantage on Intelligence, Wisdom, and Charisma checks </p>
<p class="lvl-2 lvl-3 lvl-4 lvl-5 lvl-6 lvl-7"> Disadvantage on concentration checks </p>
<p class="lvl-3 lvl-4 lvl-5 lvl-6 lvl-7"> Can only take a bonus action or action each turn (not both) </p>
<p class="lvl-4 lvl-5 lvl-6 lvl-7"> Disadvantage on attack rolls and saving throws using Intelligence, Wisdom, and Charisma </p>
<p class="lvl-5 lvl-6 lvl-7"> Suffer the effects of a randomly determined short-term mental stress effect </p>
<p class="lvl-6 lvl-7"> Cannot cast spells (but can cast cantrips) </p>
<p class="lvl-7"> Suffer the effects of a randomly determined long-term mental stress effect </p>