:root {
  --expertiseLeft: auto;
  --expertiseRight: unset;
  --expertiseBottom: unset;
  --expertiseTop: 34px;
}

section.window-content.A5ESectionCombat {
    min-width: 160px;
}

.anvelA5EAuxWindow.window-app .window-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	overflow: visible;
}

.anvelA5EAuxWindow .window-content .window-content{
    background: none;
}

#A5ESectionExhaustion button, #A5ESectionStrife button {
    height: 15px;
    width: 15px;
    line-height: 1em;
	padding: 0;
}

#A5EExhaustion, #A5EStrife {
    display: inline-flex;
}

.A5ESectionCombat section {
	padding: 4px !important;
}

#A5ESectionActions {
	padding-top: 0 !important;
}

#A5ESectionexpertiseHeader {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

div#combat-popout {
	min-width: 360px !important;
}

.combatant .token-initiative {
	padding-top: 0 !important;
}

#combat li.combatant .roll {
	height: 100% !important;
}

#combat li.combatant .token-initiative .initiative {
    font-size: 18px !important;
    line-height: 56px;
}

.token-action {
	padding-right: 5px;
	margin: auto;
	cursor: pointer;
}

.token-actions {
	display: flex;
}

.token-action i {
	display: inline;
}

.token-action .fa-circle {
	display: none;
}

.token-action.available .fa-times {
	display: none;
}

.token-action.available .fa-circle {
	display: inline;
}

/* Tidy up 5e Character sheet */

.tidy5e.sheet.actor .portrait-temp input {
	min-width: 42px;
}

.tidy5e.sheet.actor input.exertion {
    text-align: right;
}

.exertion-title {
	position: absolute;
    left: 0px;
    top: 162px;
}

.exertion-separator {
	font-size: 12px;
    line-height: 14px;
    height: 14px;
    margin: 0 0.25em;
}

.tidy5e.sheet.actor .exhaustion-container:hover .exhaustion-wrap {
    width: 194px !important;
}

.exhaustion-container {
    top: 35 px;
    left: -13 px;
}

.tidy5e.sheet.actor .exhaustion-container.level-6 .exhaustion-icon i:nth-child(6) {
    display: inline-block;
}

.tidy5e.sheet.actor .exhaustion-container.level-6 .exhaustion-icon i:nth-child(7) {
    display: none !important;
}

.tidy5e.sheet.actor .exhaustion-container.level-7 .exhaustion-icon i:nth-child(7) {
    display: inline-block;
}

.tidy5e.sheet.actor .exhaustion-container.level-7 .exhaust-level li(-n+8) {
    background: var(--exhaustion-lvl3);
}

.tidy5e.sheet.actor .exhaustion-container.level-7 .exhaust-level li:nth-of-type(-n+8) {
    background: var(--exhaustion-lvl3);
}

.tidy5e.sheet.actor .exhaustion-container.level-7 .note p:not(.lvl-7) {
	color: rgba(255, 255, 255, 0.4);
    display: none;
}

/* Pruebas doble barra */

.exhaustion-container {
    z-index: 1000 !important;
}

.exhaustion-container.strife-container {
    z-index: 999 !important;
}

.strife-container {
    top: 35px !important;
    left: -12px !important;
}

/* Dice Rolls */

.expertise .dice-row-item.red-base-die {
	background-image: url(../icons/svg/d6-grey.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position-x: 15px;
    font-size: 18px;
}

.dice-row.red-rolls.expertise {
    position: relative;
    clear: both;
    display: flex;
    justify-content: space-between;
}

.dice-row.red-rolls.expertise h4 {
    flex: 1;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position-x: 15px;
    font-size: 18px;
	color: #191813;
}

.br5e-roll-label.specialties {
    text-align: left;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 15px;
}